{% extends 'base.html' %}

{% block content %}
    <h2>{{recipe.name}}</h2>
    <h3>{{recipe.author}}</h3>


    {% for recipeimg in recipe.image.all %}
        <div class = "recipe-image-div">
            <img src="{{ recipeimg.image.url }}" alt="{{ recipeimg.description }}" style="max-width: 420px; max-height:420px;">
        </div>
    {% endfor %}

    <ul>
        {% for ingredient in object.ingredients.all %}
            <li>{{ ingredient.ingredient.name }}, {{ ingredient.quantity }}</li>
        {% endfor %}
        <li><a href="{% url 'ledger:recipe_create_image' recipe.pk %}">Click to add Image to a Recipe</a></li>
    </ul>

{% endblock %}